*{
    /* Delate margin and padding for default */
    text-decoration: none;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.container-section{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.container {
display: flex;
width: 1440px;
margin:0 auto;
/* fracasó el wrap */
flex-wrap: wrap;
}
/*This is section One-------------------*/
.site-header__navigationBar{
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 60px;
}
.site-header__navigationBar__right-ul{
     list-style: none;
     display: flex;
     padding-left: 8%;
    }
    .site-header__navigationBar__right-ul__logoIcon{
        padding-top: 5px;
        margin-left: 100px;
    }
    .site-header__navigationBarLinks{
        padding-right: 8%;
        font-family: 'Mulish', sans-serif;
        list-style: none;
        display: flex;
        padding-top: 5px;
    }
    .site-header__navigationBarLinks__element{
        margin-left:30px;
        font-weight: 700;
    }
    .site-header__navigationBarLinks__element a{
        color: #F2B30F;
    }
.section-one-img{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     position: relative;
     z-index: 2;
    }

    .image__decoration {
        position: absolute;
    }
    .image__decoration--one {
        bottom: 100px;
        right: 160px;
    }
    .image__decoration--two {
        top: 150px;
        right: 120px;
    } 
/*s1*/

/* this is section two-------------------*/
.site-product-category{
    display: flex;
    position: relative;
    font-family: bely-display, sans-serif;
    font-size: 2.5em;  
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 290px;
    }
        /* articles */
        .site-product-category__postcardprint{
            position: relative;
            margin-left: 8%;
            margin-right: 2%;
            z-index: 2;
        }
            .site-product-category__postcardprint--img{
                width: 100%;
            }
            .site-product-category__postcardprint--title{
                position: absolute;
                top: -60px;
                right:2px;
            }
       
        .site-product-category__sticker{
            position: relative;
            align-content: center; 
            z-index: 2;
                 }
            .site-product-category__sticker--img{
                width: 100%;
            }
            .site-product-category__sticker--title{
                position: absolute;
                top: 395px;
                right:2px;
            }
        .site-product-category__merch{
            position: relative;
            margin-right: 8%;
            margin-left: 2%; 
            z-index: 1;
            font-family: bely-display, sans-serif;
        }
            .site-product-category__merch--img{
                width: 100%;
            }   
            .site-product-category__merch--title{
                position: absolute;
                top: -60px;
                right:215px;
            }
        .site-product-category__section2-deco-element{
            position: absolute; 
            width: 100%;
            top: 380px;
        }
        .site-product-category__section2-deco-element--square-element{
            z-index: 1;
            margin-left: 20%;
        }
        .site-product-category__section2-deco-element--red-thing{
            z-index: 2;
            /* no funciona */
            right: 90px;          
        }
    
/*s2*/

/* this is section three-------------------*/
.site-illustration-request{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    
}
        .site-illustration-request__left-content{
            font-family: 'Mulish', sans-serif;
            position: absolute; z-index: 2;
            font-weight: 500;
        }
        .site-illustration-request__left-content__text-info{
            font-size: 1.7em;
            padding-top: 230px;
            margin-left: 159px;
            margin-bottom: 50px;
        }
        .site-illustration-request__left-content_request-btn{
            font-size: 17px;
            padding-top: 15px; padding-bottom: 15px; padding-left: 40px; padding-right: 40px;
            margin-left: 159px;
            border-radius: 50px;
            color: cornsilk;
            background: #F2994A;
        }
        .site-illustration-request__collage-img{
            position: absolute;
            z-index: 2;
            top: -100px;
            left: 820px;
        }
/*s3*/

/* this is section four-------------------*/
/* .container-section{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
} */
.recently-added{
    position: relative;
}
.text-info{
    text-align: center;
}
.text-info h4{
    font-family: bely-display, sans-serif;
    color: #1D3137;
    font-size: 2.5em;
    margin-top: 260px;
}
.text-info p{
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #0783F5;
    margin-top: 15px;
    margin-bottom: 60px;
}

.nav-images{
    justify-content: center;
    align-items: center;
}
.nav-images__decor-img{
    position: absolute;
}
.nav-images__decor-img--1{
    position: absolute;
    z-index: 2;
    top: 50px;
    left: -420px;
}
.nav-images__decor-img--2{
    position: absolute;
    right: -420px;
}
