*{
    /* Delate margin and padding for default */
    text-decoration: none;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
/* en el container tambien va el display? */
display: flex;
width: 1440px;
margin:0 auto;
/* fracasó el wrap */
flex-wrap: wrap;
}
/*This is section One-------------------*/
.site-header__navigationBar{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 60px;
}
.site-header__navigationBar__right-ul{
     list-style: none;
     display: flex;
     padding-left: 8%;
    }
    .site-header__navigationBar__right-ul__logoIcon{
        padding-top: 5px;
        margin-left: 100px;
    }
    .site-header__navigationBarLinks{
        /* por que no aplica colooor */
        padding-right: 8%;
        font-family: 'Mulish', sans-serif;
        list-style: none;
        display: flex;
        padding-top: 5px;
    }
    .site-header__navigationBarLinks__element{
        margin-left:30px;
        font-weight: 700;
    }
    .site-header__navigationBarLinks__element a{
        color: #F2B30F;
    }
.section-one-img{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     position: relative;
     z-index: 2;
    }

    .image__decoration {
        position: absolute;
    }

    .image__decoration--one {
        bottom: 100px;
        left: 100px;
    }

    .image__decoration--two {
        top: 100px;
        right: 35px;
    }

/*s1*/

/* this is section two-------------------*/
.site-product-category{
    display: flex;
    position: relative;
    font-family: bely-display, sans-serif;
    font-size: 2.5em;  
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 290px;

    }

        /* articles */
        .site-product-category__postcardprint{
            position: relative;
            margin-left: 8%;
            margin-right: 2%;
            z-index: 2;
        }
            .site-product-category__postcardprint--img{
                width: 100%;
            }
            .site-product-category__postcardprint--title{
                position: absolute;
                top: -60px;
                right:2px;
            }
       
        .site-product-category__sticker{
            position: relative;
            align-content: center; 
            z-index: 2;
                 }
            .site-product-category__sticker--img{
                width: 100%;
            }
            .site-product-category__sticker--title{
                position: absolute;
                top: 395px;
                right:2px;
            }
        .site-product-category__merch{
            position: relative;
            margin-right: 8%;
            margin-left: 2%; 
            z-index: 1;
            font-family: bely-display, sans-serif;
        }
            .site-product-category__merch--img{
                width: 100%;
            }   
            .site-product-category__merch--title{
                position: absolute;
                top: -60px;
                right:215px;
            }
        .site-product-category__section2-deco-element__square-element{
            position: absolute; z-index: 1;
            width: 100%;
            margin-left: 60%;
            margin-right: 15%;
            top: 380px;

        }
        .site-product-category__section2-deco-element__red-thing{
            position: absolute; z-index: 2;
            width: 100%;
            margin-left: 150%;
            margin-right: 14%;
            top: 380px;
        }
/*s2*/

/* this is section three-------------------*/
.site-illustration-request{
    display: flex;
    justify-content: space-between;
    position: relative;
}
        .site-illustration-request__left-content{
            font-family: 'Mulish', sans-serif;
            position: absolute; z-index: 2;
        }
        .site-illustration-request__left-content__text-info{
            font-weight: 500;
            font-size: 26px;
            padding-top: 230px;
            margin-left: 159px;
            margin-bottom: 50px;
        }
        .site-illustration-request__left-content_request-btn{
            font-weight: 500;
            font-size: 17px;
            padding-top: 15px; padding-bottom: 15px; padding-left: 40px; padding-right: 40px;
            margin-left: 159px;
            color: cornsilk;
            background: coral;
        }
        .site-illustration-request__collage-img{
            position: absolute;
            display: flex; z-index: 2;
            margin-left: 640px;
            margin-bottom: 800px;
            
        }