*{
    /* Delate margin and padding for default */
    text-decoration: none;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
.container-section{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.container {
display: flex;
width: 1440px;
margin:0 auto;
flex-wrap: wrap;
}
.btn-config{
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 1.1em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}
/*This is section 1---------------------------------*/
/* Main image and nav links bar*/
.site-header__navigationBar{
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 60px;
}
.site-header__navigationBar__right-ul{
     list-style: none;
     display: flex;
     padding-left: 92px;
    
     /* pasar a px */
    }
    .site-header__navigationBar__right-ul__logoIcon{
        margin-bottom: 1.5em;
        margin-left: 30px;
    }
    .site-header__navigationBar__right-ul__logoIcon a {
        display: flex;
        overflow: hidden;
    }
    .site-header__navigationBar__right-ul__logoIcon a img {
        width: 100%;
        height: 100%;
    }
    .site-header__navigationBarLinks{
        padding-right: 8%;
        /* pasar a px */
        font-family: 'Mulish', sans-serif;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-top: 5px;
    }
    .site-header__navigationBarLinks>* {
        margin: .2em;
    }
    .site-header__navigationBarLinks__element{
        margin-left:30px;
        font-weight: 700;
    }
    .site-header__navigationBarLinks__element a{
        color: #F2B30F;
    }
.figure{
    position: relative;
}
.section-one-img{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     width: 100%;
     z-index: 2;
    }
    .image__decoration {
        position: absolute;
    }
    .image__decoration--one {
        top: 533px;
        right: 30%;
    }
    .image__decoration--two {
        top: 216px;
        left: 75%;
        right: 40%;
        z-index: -1;
    } 
/*s1*/

/* this is section two-------------------*/
.site-product-category{
    display: flex;
    position: relative;
    font-family: bely-display, sans-serif;
    font-size: 2.5em;  
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 290px;
    }
        /* articles */
        .site-product-category__postcardprint{
            position: relative;
            margin-left: 8%;
            margin-right: 2%;
            /* pasar a px */
            z-index: 2;
        }
            .site-product-category__postcardprint--img{
                width: 100%;
            }
            .site-product-category__postcardprint--title{
                position: absolute;
                top: -60px;
                right:2px;
            }
        .site-product-category__sticker{
            position: relative;
            align-content: center; 
            z-index: 2;
         }
            .site-product-category__sticker--img{
                width: 100%;
            }
            .site-product-category__sticker--title{
                position: absolute;
                top: 395px;
                right:2px;
            }
        .site-product-category__merch{
            position: relative;
            margin-right: 8%;
            margin-left: 2%; 
            z-index: 1;
            font-family: bely-display, sans-serif;
        }
            .site-product-category__merch--img{
                width: 100%;
            }   
            .site-product-category__merch--title{
                position: absolute;
                top: -60px;
                right:215px;
            }
        .site-product-category__section2-deco-element{
            position: absolute;
            width: 100%;
            max-width: 1324px;
            height: 2.5em;
            bottom: 280px; 
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 .5em;
        }
        .site-product-category__section2-deco-element--square-element{
            z-index: 1;
            height: 100%;
        }
        .site-product-category__section2-deco-element--red-thing{
            z-index: 2;
            height: 60px;        
        }
/*s2*/

/* this is section three-------------------*/
.site-illustration-request{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.site-illustration-request:before{
    content: "";
    width: 100%;
    height: 494px;
    background-image: url(../img/section3/element1s3.png);
    position: absolute;
    top: 19%;
}
        .site-illustration-request__left-content{
            font-family: 'Mulish', sans-serif;
            z-index: 2;
            font-weight: 500;
            margin-left: 100px;
        }
        .site-illustration-request__left-content__title1{
            padding-top: 230px; 
        }
        .site-illustration-request__left-content img:nth-child(2){
            display: none;
        }
        .site-illustration-request__left-content__text-info{
            font-size: 1.7em;
            padding-top: 15px;
            margin-bottom: 50px;
        }
        .site-illustration-request__left-content__request-btn{
            font-size: 1.1em;
            color: cornsilk;
            background: #F2994A;
        }
        .site-illustration-request__collage-img{
            z-index: 2;
            top: -100px;
            left: 820px;
            margin-left: 80px;
        }
        .background {
            display: flex;
            width: 100%;
            justify-content: center;
        }
/*s3*/

/* this is section four-------------------*/

.recently-added{
    position: relative;
    bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-info{
    text-align: center;
}
.text-info h4{
    font-family: bely-display, sans-serif;
    color: #1D3137;
    font-size: 2.5em;
    margin-top: 260px;
}
.text-info p{
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #0783F5;
    margin-top: 15px;
    margin-bottom: 60px;
}
.nav-images{
    justify-content: center;
    align-items: center;
    margin-bottom: 50em;
    width: 1000px;
    /* cambiar a % en responsive */
    margin: 0 auto;
}
.nav-images a {
    padding: 1em;
}
.nav-images a img{
    display: block;
    z-index: 100;
}
.nav-images__decor-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.nav-images__decor-img--1{
    width: 230px;
    position: absolute;
    bottom: 0; 
    left: 0;
    z-index: 0;
}
.nav-images__decor-img--2{
    position: absolute;
    top: 0;
    right: 0;
}
.plant-wrapper--behind{
    position: relative;
    z-index: 100;
}
.btn-section{
    top: 40p;
    font-family: 'Mulish', sans-serif;
    border: solid 4px #F2994A; 
}
/*s4*/

/* this is section five-------------------*/
.thanks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.section-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.section-image img:nth-child(1) {
    margin-bottom: 50px;
}
.thanks-section p{
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #0783F5;
    margin-top: 15px;
    margin-bottom: 60px;
}
/* this is newsletter------ */
form {
    width: 100%;
    background-color: #FAEFE8;
  }
  
  .container-news {
    padding: 20px;
    background-color: #FAEFE8;
    display: flex;
    font-family: bely-display, sans-serif;
    color: #1D3137;
  }
  .container-news img {
      display: block;
      margin: auto;
      width: 2%;
  }
.container-news h2 {
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
  input[type=text], input[type=submit] {
    display: block;
    margin: auto;
    padding: 12px;
    padding: 12px;
    margin: 8px 0;
    display: flex;
    border: 1px solid rgb(241, 188, 73);
    box-sizing: border-box;
  }
  .container-news-check{

      display: block;
      margin: auto;
      width: 200px;
      padding: 20px 0;
  }
  input[type=checkbox] {
    margin-top: 16px;
    width: 40px;
  }
  input[type=submit] {
      margin: auto;
    background-color: #F2994A;
    border-radius: 50px;
    color: white;
    border: none;
  }
  input[type=submit]:hover {
    opacity: 0.8;
  }
/* this is section six-------------------*/
/* Footer section */


.footer{
    box-sizing: border-box;
    background-color: #FAEFE7;
    padding: 70px 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}
.container-footer{
    max-width: 1170px;
    margin: auto;
}
.row-list{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-column{
    width: 25%;
    padding: 0 15%;
}
footer p:nth-child(2) {
    color: #C1AFA2;
    position: absolute;
    text-align: center;
    bottom: -160px;
}
/* this is section 5--- */
.thanks-section{
    margin-top: 70px;
    margin-bottom: 90px;
    
}