@media all and (max-width: 1300px) {

    .container {
        width: 100%;
    }
    /* this is section 1----------- */
    .site-header__navigationBar {
       flex-direction: column;
       align-items: center;
    }

    .site-header__navigationBar__right-ul {
        padding-left: 0;
    }

    .site-header__navigationBar__right-ul__menuICon {
        display: none;
    }

    .site-header__navigationBar__right-ul__logoIcon {
        margin-left: 0;
    }

    .section-one-img {
        width: 100%;
    }
    .image__decoration{
        width: 30%;
    }
    .image__decoration--one{
        width: 10%;
    }
}

@media all and (max-width: 1024px) {

    /* this is section one----- */
    .site-header__navigationBarLinks{
        display: none;
    }
    .section-one-img {
        width: 90%;
    }
    .section-one-img__main {
        width: 100%;
    }
    /* this is section two---------- */
    .image__decoration--one{
        display: none;
    }
    .site-product-category {
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 50px;
    }
    
    .site-product-category article {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .site-product-category article {
        width: 33%;
    }

    .site-product-category__sticker--img {
        display: block;
    }

    .site-product-category article img {
        border-radius: 50%;
        width: 189px;
        height: 189px;
        margin: 0 auto;
        display: block;
    }

    .site-product-category__merch {
        margin: 0;
    }

    .site-product-category__postcardprint {
        padding: 0;
        margin: 0;
    }
    .site-product-category .site-product-category__postcardprint--title, .site-product-category__sticker--title, .site-product-category__merch--title {
        position: static;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 30px;
    }
    .site-product-category__section2-deco-element{
        display: none;
    }
    .background {
        flex-direction: column;
        overflow: hidden;
    }

    .site-illustration-request__left-content{
        justify-content: center;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px ;
    }
    .site-illustration-request__left-content__text-info{
        font-size: 1.5em;
        text-align: center;
    }
    
    .illustration-request__left-content__request-btn{
text-align: center;

    }
    .site-illustration-request__left-content__title1{
        display: none;
    }
    .site-illustration-request__left-content img:nth-child(2){
        margin-left: 20%;
        padding: 0;
        width: 60%;
        display: block;
        top: 50px;
    }
    .site-illustration-request:before {
        height: 90%;
        top: 20px;
    }
    .text-info h4{
        font-size: 24px;
    }
    .site-illustration-request__left-content__title {
        padding-top: 100px;
    }
    .recently-added{
        /* background-color: red; */
        padding: 0 3em;
    }
    .nav-images {
        width: 100%;
        flex-direction: column;
    }
    .nav-images a {
        /* background-color:red;  */
        height: 130px;
        overflow: hidden;
        margin-bottom: 2em;
        display: flex;
        border-radius:100px; 
        width: 100%;
        padding: 0;
    }
    .nav-images a img {
        width: 100%;
        height: 100%; 
        object-fit: cover; 
        object-position: 10% 34%;  
    }
    .nav-images__decor-img--1, .nav-images__decor-img--2 {
        display: none;
    }

}


@media all and (max-width: 800px) {
    /* this is section 1------ */
    /* main menu */
    .site-header__navigationBar__right-ul__menuICon {
        display: block;
        margin-right: 18px;
    }

    /* this is section two------- */
    /* product categories */
    .site-product-category {
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 50px;
        font-size: 1.6em;
        padding: 51px;
        margin: 0px;
    }

    .site-product-category article {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .site-product-category article {
        width: 33%;
    }

    .site-product-category__sticker--img {
        display: block;
    }

    .site-product-category article img {
        border-radius: 50%;
        width: 160px;
        height: 160px;
        margin: 0 auto;
        display: block;
    }

    .site-product-category__merch {
        margin: 0;
    }

    .site-product-category__postcardprint {
        padding: 0;
        margin: 0;
    }
    .site-product-category .site-product-category__postcardprint--title, .site-product-category__sticker--title, .site-product-category__merch--title {
        position: static;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 30px;
    }
    .site-illustration-request__collage-img {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        margin-top: 64px;
    }
   
    .background{
        align-items: center;
    }
    .site-product-category article {
        width: 100%;
        justify-content: center;
    }

    .site-product-category article{
        margin-bottom: 30px;
    }
     /* this is section three-------- */
    /* get a unique illustration request */
    .site-illustration-request{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .background{
    margin-top: 100px;
    }
    .site-illustration-request__left-content__text-info{
        font-size: 1.5em;
    }
    .site-illustration-request__left-content__title1{
        display: none;
    }
    .site-illustration-request__left-content img:nth-child(2){
        margin-left: 20%;
        padding: 0;
        width: 60%;
        display: block;
        top: 50px;
    }
    /* this is section four-------- */
    /* recently added seciton */
    .text-info{
        margin-top: -50px;
    }
    
}